body {
  text-align: center;
}

.popover {
  width: 280px;
  height: variable;
  background: rgb(44, 48, 51);
  /*drop shadow: color: rgb(102, 102, 102), size 2px, blur 10px;*/
  drop-shadow(0 0 10px 2px rgb(102, 102, 102))
  padding: 14px;
  margin-left: 40%;
  margin-top: -16px

}

.triangle {
  margin-top: -12px;
  margin-left: 49.5%;
  border-color: transparent transparent black transparent;
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  height: 0px;
  width: 0px;
}


.title {
  font: 'Source Sans Pro';
  color: rgb(249, 249, 249);
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.avatarlist {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid black;
}

.avatarlist:hover {
  border: 3px solid rgb(155, 160, 163);
  cursor: pointer;
}